[Unit]
Description=sabthrottle
After=network-online.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/sabthrottle/
ExecStart=/usr/bin/python3 /opt/sabthrottle/throttle.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
